mixin header(active_tab)
    if user
        link(href="/css/shared/header.css", rel="stylesheet")
        div(style="display: block; height: 50px;")
            div(style="float: left") #{user.fname} #{user.lname}
            ul(style="float: right")
                each tab in ['dashboard', 'invoices', 'logout']
                    if tab == active_tab
                        li
                            a(href="/" + tab, style="color:red") #{tab}&nbsp;
                    else
                        li
                            a(href="/" + tab, style="color:gray") #{tab}&nbsp;

    else
        p User is not logged in!