.container(style="width: auto;")

    form(ng-submit="cdlr.submitCreate()")
        .modal-header
            button(type="button", class="close", ng-click="cdlr.cancel()") &times;
            h4.modal-title.col-sm-11 Dealer Registration

        .modal-body
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="1", type="text", name="dname", placeholder="Dealer Name", ng-model="cdlr.createDealerData.dname")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="2", type="text", name="daddress_first", placeholder="Address # 1", ng-model="cdlr.createDealerData.daddress_first")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="3", type="text", name="daddress_second", placeholder="Address # 2", ng-model="cdlr.createDealerData.daddress_second")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="4", type="text", name="daddress_city", placeholder="City", ng-model="cdlr.createDealerData.daddress_city")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="5", type="text", name="daddress_state", placeholder="State", ng-model="cdlr.createDealerData.daddress_state")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="6", type="text", name="daddress_country", placeholder="Country", ng-model="cdlr.createDealerData.daddress_country")

            .form-group.col-sm-11.center.submit-button-gap
                button.btn.btn-primary.btn-lg.btn-block(tabindex="7", type="submit") Create Dealer Account

        .modal-footer
