include shared/header.jade

block vars
doctype html
html
  head
    title I2E | #{title}
    | <link href="/css/shared/bootstrap.css" rel="stylesheet" type="text/css">
    block head
  body(ng-app="I2E")
    block header
    block body
    block footer
    block scripts
        script(src="/js/vendor/angular.1.4.5.js")
        script(src="/js/main.js")
