extends ../base

block vars
    - var title = 'Login'

block head
    link(rel='stylesheet', href='css/login.css')

block body
    block content
        .container
            if message
                p #{message}

            form.form-signin(action="/login", method="post")
                h2.form-signin-heading Please sign in
                input(type='hidden', name='_csrf', value=csrfToken)
                div
                    input.input-block-level(type="text", name="username", placeholder="Username")

                div
                    input.input-block-level(type="password", name="password", placeholder="Password")

                div
                    label.checkbox
                        input(type="checkbox", value="remember-me")
                        span Remember Me

                button.btn.btn-large.btn-primary(type="submit") Sign in