.container(style="width: auto;")

    //- form.form-signin(action="/baccounts/create/", method="post")

    form(ng-submit="cbacct.submitCreate()")
        .modal-header
            button(type="button", class="close", ng-click="cbacct.cancel()") &times;
            h4.modal-title.col-sm-11 Business Account Registration

        .modal-body
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="1", type="text", name="bname", placeholder="Business Name", ng-model="cbacct.createAccountData.bname")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="2", type="text", name="baddress_first", placeholder="Address # 1", ng-model="cbacct.createAccountData.baddress_first")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="3", type="text", name="baddress_second", placeholder="Address # 2", ng-model="cbacct.createAccountData.baddress_second")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="4", type="text", name="baddress_city", placeholder="City", ng-model="cbacct.createAccountData.baddress_city")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="5", type="text", name="baddress_state", placeholder="State", ng-model="cbacct.createAccountData.baddress_state")

            .form-group.col-sm-11.center
                input.form-control.input-block-level(tabindex="6", type="text", name="baddress_country", placeholder="Country", ng-model="cbacct.createAccountData.baddress_country")

            .form-group.col-sm-11.center.submit-button-gap
                button.btn.btn-primary.btn-lg.btn-block(tabindex="7", type="submit") Create Business Account

        .modal-footer
