.container(style="width: auto;")
    .modal-header
        button(type="button", class="close", ng-click="dbacct.cancel()") &times;
        //- h4.modal-title.col-sm-11 Delete Business Account

    .modal-body
        p.lead.col-sm-12 Are you sure you want to delete <strong>{{dbacct.bname}}</strong>?
        br

    .modal-footer
        button.btn.btn-default(ng-click="dbacct.cancel()") CANCEL
        button.btn.btn-primary(ng-click="dbacct.delete()") DELETE